@import url("https://fonts.googleapis.com/css?family=Quicksand:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:200,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
#description {
  z-index: 6;
}
.normal-font{
    font-style: normal;
}
.landing {
  background-image: url("img/langing.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 40px;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-transition: top 3s; /* For Safari 3.1 to 6.0 */
  transition: top 3s;
}

.landing::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  content: "";
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.start-button {
  border: 2px solid white;
  width: 200px;
  height: 50px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 20px;
  margin-top: 40px;
  z-index: 6;
  opacity: 0;
  -webkit-transition: opacity 3s; /* For Safari 3.1 to 6.0 */
  transition: opacity 3s;
}
.start-button:hover {
  background-color: rgba(0, 0, 0, 0.178);
  border: none;
  color: rgba(255, 255, 255, 0.61);
}

.content {
  width: 100%;
  opacity: 0;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: opacity 3s; /* For Safari 3.1 to 6.0 */
  transition: opacity 3s;
}

.side-nav {
  display: inline-block;
  padding: 10px;
  background-image: linear-gradient(
    141deg,
    #000000 0%,
    #303030 51%,
    #474747 75%
  );
  color: white;
  border-radius: 20px;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  top: 5px;
  left: 5px;
}

.side-nav-text {
  display: inline-block;
  padding: 10px 0 10px 0;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  top: 5px;
  left: 5px;
}

.nav-item {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 0.575) !important;
}

.nav-item-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

#nav-home {
  background-color: rgb(77, 74, 74);
  color: white;
  border-radius: 0 15px 15px 0;
}
#nav-about {
  background-color: rgb(77, 74, 74);
  color: white;
  border-radius: 0 15px 15px 0;
  visibility: hidden;
}
#nav-interest {
  background-color: rgb(77, 74, 74);
  color: white;
  border-radius: 0 15px 15px 0;
  visibility: hidden;
}

.top-image {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/background.jpg");
  background-position: center;
  color: white;
}
.top-image img {
  /* width: 150px; */
  height: 15vh;
  margin-top: 35px;
  border-radius: 50%;
}

.top-image .name {
  line-height: 50px;
  font-size: 30px;
}

.container {
  position: relative;
  top: -200px;
  background-color: #f1f1f1;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: -160px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.about-content {
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.about-left {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}
.about-left img {
  max-width: 100%;
  max-height: auto;
}

.about-right {
  flex: 1;
  text-align: justify;
  padding: 10px;
}

.line {
  background-color: rgb(58, 58, 58);
  width: 70px;
  height: 5px;
}
.padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

.interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.interest-content {
  width: 100%;
  margin-top: 50px;
  /* display: flex; */
  /* justify-content: center; */
}

.row-center {
  justify-content: center !important;
}

.footer {
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #3F3F3F; */
}

@media screen and (max-width: 1200px) {
  .about-right {
    font-size: 13px;
  }

  .interest-content p {
    font-size: 13px;
  }
}

@media screen and (max-width: 990px) {
  .about-left {
    display: none;
  }
  .about-right {
    font-size: 16px;
  }

  .interest-content p {
    font-size: 8px;
  }

  .interest-content h1 {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .interest-content p {
    font-size: 12px;
  }

  .interest-content h1 {
    font-size: 25px;
  }
}
.footer {
  font-size: 12px;
}

.footer p {
  line-height: 2px;
}
.footer span:nth-child(1) {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  color: gray;
}

@media screen and (max-width: 1330px){
    .container{
        max-width: 960px;
    }

    .about-right {
        font-size: 13px;
      }
    
      .interest-content p {
        font-size: 13px;
      }
}

@media screen and (max-width: 1150px){
    .container{
        max-width: 720px;
    }

    .about-left {
        display: none;
      }
      .about-right {
        font-size: 16px;
      }
    
      .interest-content p {
        font-size: 10px;
      }
    
      .interest-content h1 {
        font-size: 20px;
      }
}

@media screen and (max-width: 905px){
    .container{
        max-width: 540px;
    }
}

@media screen and (max-width: 725px){
        .side-nav{
            visibility: hidden;
        }

        .side-nav-text{
            display:none;
        }
}
